/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
# Ignore all files and folders in the public directory
/public/*

# Except for the assets directory
!/public/assets/
!/public/css/

# Ignore everything in the assets directory
/public/assets/*
/public/css/*

# Except for the CSS and JS folders
!/public/assets/css/
!/public/assets/js/
!/public/assets/json/

# Ensure custom.css is included
!/public/css/custom.css